<%#
	Alpha os is made from me for all .. especially for indo wrt members and fan of OpenWrt or DBAI Community
	luci-theme-alpha
	Copyright 2022 derisamedia <facebook.com/derisamedia>
	Have a bug? Please create an issue here on GitHub!

	luci-theme-material
	Copyright 2015 Lutty Yang <lutty@wcan.in>

	luci-theme-bootstrap:
	Copyright 2008 Steven Barth <steven@midlink.org>
	Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
	Copyright 2012 David Menting <david@nut-bolt.nl>

	MUI:
	https://github.com/muicss/mui

	Licensed to the public under the Apache License 2.0
-%>

<% local ver = require "luci.version" %>
	</div>
	<footer class="mobile">
	<a href="https://github.com/openwrt/luci"><%= ver.luciname %> | <%= ver.luciversion %></a>
	</footer>
	</div>
</div>

<script type="text/javascript">L.require('menu-alpha')</script>
<script src="<%=media%>/app.js"></script>

</body>
</html>
